{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "arrow-body-style": 0
  },
  "overrides": [
    {
      "files": ["scripts/**/*"],
      "rules": {
        "import/no-extraneous-dependencies": [
          2,
          {
            "devDependencies": true
          }
        ]
      }
    }
  ]
}
